{% extends "blog/base.html" %}
{% block content %}
<div class="jumbotron">
  <h1><strong>Xiangzhen Sun</strong></h1>
  <table WIDTH=”100%”>
    <tr>
      <td ALIGN=”left”>111 S K Street</td>
      <td ALIGN=”right”>Residence (850) 464-6202</td>
    </tr>
    <tr>
      <td ALIGN=”left”>Lake Worth, Florida</td>
      <td ALIGN=”right”>Message (850) 464-6202</td>
    </tr>
    <tr>
      <td ALIGN=”right”>Email: sun@cs.fsu.edu</td></tr>
    </tr>
  </table>

  <h2><strong>Objective</strong></h2>
  <table>
    <tr>
      <td>&nbsp;</td>
      <td>Computer Science graduate student with interdisciplinary engineering background actively looking for internship opportunities in STEM fields.</td>
    </tr>
  </table>

  <h2><strong>Work Experience</strong></h2>
  <h4><strong>Front End Developer Intern (Remote)</strong></h4>
  <table>
    <tr>
      <td>&nbsp;</td>
      <td>BlockHub Corp. - Frisco, TX</br>June 2018 to Present
        <ul>
          <li>Implement a customer interface as part of a Blockchain Trading Transaction Project using AngularJS, Ajax, and Node.js.</li>
          <li>Participate in writing inventory prediction modules with Machine Learning algorithms on Amazon S3.</li>
        </ul>
      </td>
    </tr>
  </table>

  <h4><strong>IT Intern</strong></h4>
  <table>
    <tr>
      <td>&nbsp;</td>
      <td>Office Depot OfficeMax - Boca Raton, FL</br>May 2018 to August 2018
        <ul>
          <li>Develop programmable database objects on Microsoft SQL Server.</li>
          <li>Build 2 software robots to automate tasks in IT audit and financial analysis, saving $50,000/year (Python, VBScript, C#).</li>
        </ul>
      </td>
    </tr>
  </table>

  <h4><strong>Graduate Assistant, Web Master</strong></h4>
  <table>
    <tr>
      <td>&nbsp;</td>
      <td>Florida State University - Tallahassee, FL</br>August 2017 to May 2018
        <ul>
          <li>Developed the front-end of websites for 12 faculty members in the department (JavaScript, HTML5, CSS).</li>
          <li>Designed a Student Admission System that receives more than 1500 applications per year (PHP, Bootstrap, jQuery).</li>
          <li>Assisted in weekly web server maintenance.</li>
        </ul>
      </td>
    </tr>
  </table>

  <h4><strong>Teaching Assistant</strong></h4>
  <table>
    <tr>
      <td>&nbsp;</td>
      <td>Florida State University - Tallahassee, FL</br>January 2016 to May 2016
        <ul>
          <li>Delivered PLC programming training to 23 students in laboratory (PLC, SolidWorks, AutoCAD).</li>
          <li>Created lecture slides and graded project paper.</li>
        </ul>
      </td>
    </tr>
  </table>

  <h4><strong>Research Assistant</strong></h4>
  <table>
    <tr>
      <td>&nbsp;</td>
      <td>Florida State University - Tallahassee, FL</br>August 2014 to December 2015
        <ul>
          <li>Led 3 undergraduate students in designing a wireless sensor component and its testing devices.</li>
          <li>Established a wireless sensor network on LabVIEW platform to remotely access 72 temperature nodes that are located in a region of 5 meters in radius. (C++, LabVIEW).</li>
          <li>Published a journal paper, as a co-author, in mathematical proof of manufacturing sensor with electric field.</li>
        </ul>
      </td>
    </tr>
  </table>

  <h4><strong>Engineering Assistant, Intern</strong></h4>
  <table>
    <tr>
      <td>&nbsp;</td>
      <td>Dongfeng Motor Co. Ltd - Shiyan, CN</br>May 2011 to August 2011
        <ul>
          <li>Engaged in the CAD/CAM design of the automobile engine. (AutoCAD, MATLAB/Simulink).</li>
          <li>Programmed a 6-axis robotic arm as an essential part of an automated assembly line that enhanced efficiency by 30%.</li>
        </ul>
      </td>
    </tr>
  </table>

  <h2><strong>Education</strong></h2>
  <table>
    <tr>
      <td>&nbsp;</td>
      <td><strong>MS in Computer Science</strong></br>Florida State University - Tallahassee, FL</br>August 2016 to May 2019</br><em>GPA: 3.85/4.0</em></td>
    </tr>
  </table>
  </br>
  <table>
    <tr>
      <td>&nbsp;</td>
      <td><strong>MS in Mechanical Engineering</strong></br>Florida State University - Tallahassee, FL</br>August 2014 to August 2016</br><em>GPA: 3.97/4.0</em></td>
    </tr>
  </table>
  </br>
  <table>
    <tr>
      <td>&nbsp;</td>
      <td><strong>BS in Mechanical Design and Automation</strong></br>Central South University - Changsha, CN</br>September 2008 to June 2012</br><em>GPA: 3.7/4.0</em></td>
    </tr>
  </table>

  <h2><strong>Professional Association</strong></h2>
  <table>
    <tr>
      <td>&nbsp;</td>
      <td><strong>Association for Computing Machinery</strong></br>February 2017 to Present</td>
    </tr>
  </table>
  </br>
  <table>
    <tr>
      <td>&nbsp;</td>
      <td><strong>American Society of Mechanical Engineering</strong></br>October 2016 to Present</td>
    </tr>
  </table>
  </br>
  <table>
    <tr>
      <td>&nbsp;</td>
      <td><strong>Upsilon Pi Epsilon</strong></br>February 2017 to Present</td>
    </tr>
  </table>
  </br>
  <table>
    <tr>
      <td>&nbsp;</td>
      <td><strong>Phi Kappa Phi</strong></br>February 2016 to Present</td>
    </tr>
  </table>
  </br>
  <table>
    <tr>
      <td>&nbsp;</td>
      <td><strong>Golden Key International Honor Society</strong></br>December 2015 to Present</td>
    </tr>
  </table>
  </br>

  <h2><strong>Publication</strong></h2>
  <table>
    <tr>
      <td>&nbsp;</td>
      <td><a href="http://www.mdpi.com/2504-4494/1/2/22">Pearl-Chain Formation of Discontinuous Carbon Fiber Under Electrical Field</a></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>J. Manuf. Mater. Process. 2017, 1, 22</td>
    </tr>
  </table>
</div>

{% endblock %}
